<h2>Participations</h2>
<div class="row g-3">
  <% for (let athlete_lst_p of participations) { %>
    <div class="col-4">
      <div class="container">
        <% for (let athlete_p of athlete_lst_p) { %>
          <form action=" <%= '/participations/' + athlete_p.name + '/edit' %>" method="POST">
            <label for="name">Name</label>
            <div class="input-group">
          <% if (athlete_p.name != null) %> { %>
            <input type="text" class="form-control" id="name" value= athlete_p.name readonly>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-pencil" onclick=editName()></span>
            </div>
            </div>   
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
            <% } %> else { %>
              <div class="col-3">
                <div class= "row g-3">
                  <div><%= athlete_p.value %> </div>
                  <a class="btn btn-outline-danger" href="<%= '/participations/' + athlete_p.name + '/delete' %>">Delete</a>
                </div>
              </div>
            <% } %>
            <form action="/createParticipation" method="POST">
              <div>
                <label class="form-label">
                  Game Year:
                  <input class="form-control" type="text" name="year" />
                </label>
                <label class="form-label">
                  Game Season:
                  <input class="form-control" type="text" name="season" />
                </label>
              </div>
              <button class="btn btn-primary" type="submit">Add</button>
            </form>
        <% } %>
      </div>
    </div>
  
  <% } %>   
</div>